#ocFederationSettings p {
	padding-bottom: 10px;
}

#ocFederationSettings .icon-alert-outline
{
	display: inline-block;
	margin-right: 10px;
}

#listOfTrustedServers li {
	padding-bottom: 10px;
}

.removeTrustedServer {
	display: none;
	vertical-align:middle;
	padding-left: 10px;
}

#ocFederationAddServerButton {
	cursor: pointer;
}

#listOfTrustedServers .status {
	margin-right: 10px;
}

#listOfTrustedServers .icon {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

#listOfTrustedServers .trusted-server-name {
	min-width: 300px;
	display: inline-block;
}

#listOfTrustedServers label {
	margin-left: 10px;
	margin-right: 10px;
}

#ocFederationAddServer #serverUrl {
	width: 300px;
}
